sample_git_hub_project_1111/src/main/mule/sample_git_hub_api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="aeebea1d-cfd9-4967-bc4a-e365320c9fa8" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="96db41d1-e3af-40cb-ba5b-ed633b608009" >
		<http:request-connection >
			<http:authentication >
				<http:basic-authentication username="rahul" password="rahul" />
			</http:authentication>
		</http:request-connection>
	</http:request-config>
	<flow name="sample_git_hub_apiFlow" doc:id="4a121c19-04ed-425c-8403-dfa11f8e8f96" >
		<http:listener doc:name="Listener" doc:id="41b592cb-d89f-4945-83c4-b7be8e0852ab" config-ref="HTTP_Listener_config" path="/git"/>
		<set-payload value='#["hello, its sample git hub project"]' doc:name="Set Payload" doc:id="579cdf86-dc91-48d3-8444-a8931b8da5f0" />
		<logger level="INFO" doc:name="Logger" doc:id="dd2a29d8-9599-4397-8f52-7b44d29b5cca" message='#["payload is " ++ payload]'/>
		<http:request method="GET" doc:name="Request_fail" doc:id="73b27468-9b78-4e44-b0c2-447599ae30de" url="http://first-full-life-proxy.us-e2.cloudhub.io/name" config-ref="HTTP_Request_configuration"/>
		<logger level="INFO" doc:name="Logger" doc:id="02efb45c-bf8f-492f-a8ec-56bb0ee649d8" message="#[payload]"/>
	</flow>
</mule>
